spring:
  application:
    name: logistica
  
  datasource:
    url: jdbc:postgresql://localhost:5432/logistica_db
    username: postgres
    password: '1234'
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8081

logging:
  level:
    root: INFO
    tpi_grupo46.logistica: DEBUG

# OpenAPI/Swagger Configuration
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
